# Virtual environment
venv/
.venv/

# Python cache and compiled files
__pycache__/
*.pyc
*.pyo
*.pyd

# Distribution / packaging
*.egg-info/
build/
dist/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# VS Code settings
.vscode/

# System files
.DS_Store
Thumbs.db

# Pickle files
*.pkl

# Ignore dataset folder
PDDS/Plant vilage/

*.csv
*.xlsx